* {
  font-family: "Raleway", sans-serif;
}

body {
  margin-top: 0px;
  margin: 0px;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 121px;
  max-width: 100%;
  margin-top: 0px;
  padding: 0px 0px 0px 30px;
}

.navcontent {
  display: flex;
}

nav ul {
  display: flex;
  list-style-type: none;
  font-size: 1em;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 30px 40px;
}

nav a:hover {
  color: #0065fc;
  border-top: solid 2px;
  padding-top: 49px;
}

.survol {
  color: #0065fc;
  font-weight: bold;
  padding: 40px 30px 30px 40px;
}

a {
  text-decoration: none;
}

/* TITRE_BAR_FILTRES */
section {
  padding: 0px 30px;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  font-weight: bold;
  margin: 0;
}

h1 + p {
  font-size: 1em;
  font-weight: 500;
  margin: 8px 0 20px 0;
}

/* INPUT*/

form {
  display: flex;
  align-items: center;
}

.logo_map {
  font-size: 19px;
  padding: 17px 18px;
  background-color: #f2f2f2;
  border-radius: 20px 0 0 20px;
}

#recherche::placeholder {
  font-weight: bold;
  color: black;
}

.bar_de_recherche {
  font-size: 1.05em;
  font-weight: bold;
  width: 235px;
  height: auto;
  padding: 16px 0px 16px 0px;
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.bar_de_recherche:focus {
  outline: none;
}

.bouton {
  font-size: 1.05em;
  font-weight: bold;
  color: white;
  padding: 17px 24px;
  background-color: #0065fc;
  position: relative;
  right: 4px;
  border: none;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
}

input {
  margin-left: -5px;
}

/* FILTRES */

.div_h3_et_filtres {
  display: flex;
}

.div_filtre_filtres {
  display: flex;
}

..filtre_div_flex2 {
  display: flex;
}

.margfiltre {
  margin-top: 25px;
}

.margfiltreh3 {
  margin-right: 20px;
}

.filtre_texticon {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.filtre_animaux {
  min-width: 145px;
}

.filtre_texticon:hover {
  background-color: #f2f2f2;
  transition-duration: 0.2s;
  transform: scale(1.02);
}

.marg_filtre_txt {
  padding-left: 20px;
  padding-right: 20px;
}

.filtreicon {
  border-radius: 25px;
  width: 52px;
  height: 52px;
  min-width: 52px;
  min-height: 52px;
  color: #0065fc;
  background-color: #deebff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INFO */

.i_info {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  margin-top: -25px;
  margin-bottom: 30px;
}

.logo_info {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border: solid 1.5px #d9d9d9;
  border-radius: 50px;
  margin-right: 10px;
  font-size: 1em;
  position: relative;
  bottom: 1px;
}

.fa-info {
  color: #0065fc;
}

.marg_info {
  margin-top: 25px;
}

/* HEBERGEMENTS */

.hebergements {
  display: flex;
}

.prix_gras {
  font-weight: bold;
}

/* HEBERGEMENTS A MARSEILLE */

.marg_titre_galery_afPlus {
  padding: 20px 45px 70px 45px;
}

.hebergement_marseille_container {
  background-color: #f2f2f2;
  height: 630px;
  width: 65%;
  border-radius: 22px;
  margin-right: 0px;
}

.galery_carte_marseille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 28px;
  row-gap: 28px;
  margin-top: 30px;
}

.background_carte {
  background-color: white;
  height: 206px;
  min-width: 185px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #d9d9d9;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.background_carte a {
  color: black;
}

.background_carte:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

figure {
  margin: 0px;
}

figcaption {
  margin-top: -5px;
  margin-left: 10px;
  line-height: 7px;
}

.stars {
  margin-top: -3px;
}
.star_blue {
  color: #0065fc;
}

.star_vide {
  color: #f2f2f2;
}

.div_Afficher_plus {
  margin-top: 7px;
  font-weight: bold;
  color: black;
}

.div_Afficher_plus a {
  color: black;
}

.divimg_auberge_cannebiere {
  background-image: url(img/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_hotel_du_port {
  background-image: url(img/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_hotel_les_mouettes {
  background-image: url(img/hebergements/2_large//reisetopia-B8WIgxA_PFU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_hotel_dela_mer {
  background-image: url(img/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.divimg_auberge_le_panier {
  background-image: url(img/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_hotel_chez_amina {
  background-image: url(img/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

/* LES PLUS POPULAIRES */

.les_plus_populaires_contenair {
  background-color: #f2f2f2;
  height: 570px;
  width: 27%;
  margin-left: 50px;
  padding: 30px;
  border-radius: 22px;
}

.marg_titre_galery_populaire {
  padding-left: 5px;
  padding-right: 10px;
  margin-top: -10px;
}

.titre_chart_populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titre_chart_populaires i {
  font-size: 130%;
  color: black;
}

.galery_carte_populaires {
  display: grid;
  row-gap: 27px;
  margin-top: 10px;
}

.background_carte_populaire {
  background-color: white;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #d9d9d9;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 272px;
  cursor: pointer;
}

.background_carte_populaire a {
  color: black;
}

.figure_populaires {
  display: flex;
  flex-direction: row;
}

.fc_populaires {
  margin-top: 5px;
  padding-left: 8px;
}

.stars_populaires {
  padding-top: 30px;
}

.divimg_hotel_le_soleilduMatin {
  background-image: url(img/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 40%;
  border-radius: 15px 0px 0px 15px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_Au_coeur_deLeau {
  background-image: url(img/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 40%;
  border-radius: 15px 0px 0px 15px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_hotel_tout_bleuEtblanc {
  background-image: url(img/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 40%;
  border-radius: 15px 0px 0px 15px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.background_carte_populaire:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.flex_txt_populaire {
  display: flex;
  flex-direction: column;
}

/* ACTIVITÉ A MARSEILLE */

.activite_contenair {
  height: 550px;
  width: 100%;
  margin-right: 5px;
  margin-top: 50px;
}

.galery_activite {
  height: 450px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "vp fp pn nd"
    "vp if pn pl";
  column-gap: 52px;
  row-gap: 39px;
}

.vieux_Port {
  grid-area: vp;
  background-color: white;
  border-radius: 20px;
  height: 450px;
  box-shadow: 0 0 15px #d9d9d9;
}

.vieux_Port figcaption {
  padding-top: 25px;
  padding-left: 5px;
  font-weight: bold;
}

.vieux_Port:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.FortDe_pomegues {
  grid-area: fp;
  background-color: white;
  border-radius: 20px;
  height: 238px;
  box-shadow: 0 0 15px #d9d9d9;
}

.FortDe_pomegues figcaption {
  padding-top: 25px;
  padding-left: 5px;
  font-weight: bold;
}

.FortDe_pomegues:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.iles_du_frioul {
  grid-area: if;
  background-color: white;
  border-radius: 20px;
  height: 172px;
  box-shadow: 0 0 15px #d9d9d9;
}

.iles_du_frioul figcaption {
  padding-top: 25px;
  padding-left: 5px;
  font-weight: bold;
}

.iles_du_frioul:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.parcNational {
  grid-area: pn;
  background-color: white;
  border-radius: 20px;
  height: 450px;
  padding-top: 0px;
  box-shadow: 0 0 15px #d9d9d9;
}

.parcNational figcaption {
  padding-top: 25px;
  padding-left: 5px;
  font-weight: bold;
}

.parcNational:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.Notre_dame {
  grid-area: nd;
  background-color: white;
  border-radius: 20px;
  height: 200px;
  box-shadow: 0 0 15px #d9d9d9;
}

.Notre_dame figcaption {
  padding-top: 25px;
  padding-left: 5px;
  font-weight: bold;
}

.Notre_dame:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.parc_Longchamp {
  grid-area: pl;
  background-color: white;
  border-radius: 20px;
  margin-top: -36px;
  box-shadow: 0 0 15px #d9d9d9;
}

.parc_Longchamp figcaption {
  padding-top: 25px;
  padding-left: 5px;
  font-weight: bold;
}

.parc_Longchamp:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.galery_activite figcaption {
  margin-top: -16px;
}

.divimg_vieux_Port {
  background-image: url(img/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.divimg_fdp {
  background-image: url(img/activites/2_large//paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 179px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.divimg_idf {
  background-image: url(img/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 113px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.div_img_pn {
  background-image: url(img/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.div_img_nd {
  background-image: url(img/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 141px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.div_img_pl {
  background-image: url(img/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.galery_activite a {
  color: black;
}

/* FOOTER */

.footer {
  margin-top: 0px;
  background-color: #f2f2f2;
}

.fc_gras {
  font-weight: bold;
}

footer a {
  color: black;
}

.container_colonnes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding: 0 30px 20px 30px;
  margin: auto;
  box-sizing: border-box;
}

.colonnes_footer {
  display: flex;
  flex-direction: column;
  width: 1000%;
  padding: 0 30px;
  margin-bottom: -10px;
}

.colonnes_footer h3 {
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  margin-top: 38px;
  margin-bottom: 0px;
}

.txt_footer {
  display: flex;
  flex-direction: column;
}

.txt_footer a {
  color: black;
  font-size: 1em;
  margin-bottom: 13px;
}

.txt_footer a:hover {
  text-decoration: underline black;
}

footer ul {
  list-style-type: none;
  padding-left: 0px;
}

footer li {
  padding-bottom: 20px;
}

/* RESPONSIVE */

@media screen and (max-width: 1221px) {
  .galery_carte_marseille {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hebergement_marseille_container {
    background-color: #f2f2f2;
    height: auto;
  }

  .les_plus_populaires_contenair {
    width: 359px;
    height: 893px;
  }
}

@media screen and (max-width: 1010px) {
  .hebergements {
    flex-direction: column-reverse;
  }

  .les_plus_populaires_contenair {
    width: auto;
    height: auto;
    margin: 0;
    min-width: 447px;
  }

  .div_h3_et_filtres {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .div_filtre_filtres {
    display: flex;
    flex-wrap: wrap;
    min-width: 465px;
  }

  .hebergement_marseille_container {
    margin-top: 50px;
    height: 860px;
    width: 100%;
    min-width: 506px;
    background-color: white;
  }
}

@media screen and (max-width: 585px) {
  .hebergements {
    flex-direction: column-reverse;
  }

  .les_plus_populaires_contenair {
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 0px;
  }

  .div_h3_et_filtres {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .div_filtre_filtres {
    display: flex;
    flex-wrap: wrap;
  }

  .hebergement_marseille_container {
    margin-top: 50px;
    height: auto;
    width: auto;
    border-radius: 0px;
  }

  .galery_carte_marseille {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 510px) {
  .bouton {
    display: none;
  }
  .logo_recherche {
    display: inline;
    position: relative;
    cursor: pointer;
    color: white;
  }

  .background_btn2_recherch {
    position: relative;
    background-color: #0065fc;
    height: 53px;
    border: none;
  }
  button {
    border: none;
    border-radius: 15px;
    height: 55px;
    width: 55px;
    margin-left: -11px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
  }
}

@media screen and (min-width: 510px) {
  button {
    display: none;
  }
  .background_btn2_recherch {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  .navcontent {
    display: none;
  }

  .topbar {
    display: block;
  }

  .navcontent2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    min-width: 600px;
  }

  .logo_reservia {
    margin-top: 35px;
  }

  .survol {
    float: right;
    margin-top: -108px;
    margin-right: 70px;
  }

  nav a:hover {
    border-top: solid 2px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    gap: 10px;
    width: 100%;
  }
}

/* FOOTER RESPONSIVE */
@media screen and (max-width: 600px) {
  footer a {
    color: black;
  }

  .container_colonnes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 0 30px 20px 30px;
    margin: auto;
    box-sizing: border-box;
  }

  .colonnes_footer {
    flex-direction: column;
  }
}

/* ACTIVITÉ RESPONSIVE */

@media screen and (max-width: 1124px) {
  .activite_contenair {
    width: 100%;
    margin-right: 5px;
    margin-top: 50px;
  }

  .galery_activite {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
  }

  .div_resp {
    height: 300px;
    gap: 20px;
  }
}
