@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin-top: 0px;
  margin: 0px;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  max-width: 100%;
  margin-top: 0px;
  padding: 0px 0px 0px 30px;
}

.navcontent {
  display: flex;
}

nav ul {
  display: flex;
  list-style-type: none;
  font-size: 1em;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 30px 40px;
}

nav li:hover {
  color: #0065fc;
  border-top: solid 2px;
  padding-top: 49px;
  margin-top: -51px;
}

.top_hebergement_desktop {
  color: #0065fc;
  border-top: solid 2px;
  padding-top: 49px;
  margin-top: -51px;
}

.survol {
  color: #0065fc;
  font-weight: bold;
  padding: 40px 30px 30px 40px;
}

a {
  text-decoration: none;
}

/* TITRE_BAR_FILTRES */
section {
  padding: 0px 30px;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  font-weight: bold;
  margin: 0;
}

h1 + p {
  font-size: 1em;
  font-weight: 500;
  margin: 8px 0 20px 0;
}

/* INPUT*/

form {
  display: flex;
  align-items: center;
}

.logo_map {
  font-size: 19px;
  padding: 17px 18px;
  background-color: #f2f2f2;
  border-radius: 20px 0 0 20px;
}

#recherche::placeholder {
  font-weight: bold;
  color: black;
  margin-left: 5px;
}

.recherche2::placeholder {
  font-weight: bold;
  color: black;
  margin-left: 5px;
}

input {
  text-indent: 10px;
}

.bar_de_recherche {
  font-size: 1.05em;
  width: 235px;
  height: auto;
  padding: 16px 0px 16px 0px;
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.bar_de_recherche:focus {
  outline: none;
}

.bouton {
  font-size: 1.05em;
  font-weight: bold;
  color: white;
  padding: 17px 24px;
  background-color: #0065fc;
  position: relative;
  right: 4px;
  border: none;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
}

.bouton:hover {
  background-color: rgb(0, 89, 255);
}

input {
  margin-left: -5px;
}

/* FILTRES */

.div_h3_et_filtres {
  display: flex;
  margin-top: 30px;
}

.div_filtre_filtres {
  display: flex;
}

.margfiltre {
  margin-top: 25px;
}

.margfiltreh3 {
  margin-right: 20px;
}

.filtre_texticon {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.filtre_animaux {
  min-width: 145px;
}

.filtre_texticon:hover {
  background-color: #f2f2f2;
  transition-duration: 0.2s;
  transform: scale(1.02);
}

.marg_filtre_txt {
  padding-left: 20px;
  padding-right: 20px;
}

.filtreicon {
  border-radius: 25px;
  width: 52px;
  height: 52px;
  min-width: 52px;
  min-height: 52px;
  color: #0065fc;
  background-color: #deebff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INFO */

.i_info {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  margin-top: -25px;
  margin-bottom: 30px;
}

.logo_info {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border: solid 1.5px #d9d9d9;
  border-radius: 50px;
  margin-right: 10px;
  font-size: 1em;
  position: relative;
  bottom: 1px;
}

.fa-info {
  color: #0065fc;
}

.marg_info {
  margin-top: 25px;
}

/* HEBERGEMENTS */

.hebergements {
  display: flex;
}

.prix_gras {
  font-weight: bold;
}

/* HEBERGEMENTS A MARSEILLE */

.marg_titre_galery_afPlus {
  padding: 20px 45px 70px 45px;
}

.hebergement_marseille_container {
  background-color: #f2f2f2;
  height: 630px;
  width: 65%;
  border-radius: 22px;
  margin-right: -5px;
}

.galery_carte_marseille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 28px;
  row-gap: 28px;
  margin-top: 30px;
}

.background_carte {
  background-color: white;
  height: 206px;
  min-width: 185px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #d9d9d9;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.background_carte a {
  color: black;
}

.background_carte:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

figure {
  margin: 0px;
}

figcaption {
  margin-top: -5px;
  margin-left: 10px;
  line-height: 7px;
}

.stars {
  margin-top: -3px;
}
.star_blue {
  color: #0065fc;
}

.star_vide {
  color: #f2f2f2;
}

.div_Afficher_plus {
  margin-top: 7px;
  font-weight: bold;
  color: black;
}

.div_Afficher_plus a {
  color: black;
}

.divimg_auberge_cannebiere {
  background-image: url(img/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_hotel_du_port {
  background-image: url(img/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_hotel_les_mouettes {
  background-image: url(img/hebergements/2_large//reisetopia-B8WIgxA_PFU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_hotel_dela_mer {
  background-image: url(img/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.divimg_auberge_le_panier {
  background-image: url(img/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_hotel_chez_amina {
  background-image: url(img/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

/* LES PLUS POPULAIRES */

.les_plus_populaires_contenair {
  background-color: #f2f2f2;
  height: 570px;
  width: 27%;
  margin-left: 50px;
  padding: 30px;
  border-radius: 22px;
}

.marg_titre_galery_populaire {
  padding-left: 5px;
  padding-right: 10px;
  margin-top: -10px;
}

.titre_chart_populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titre_chart_populaires i {
  font-size: 130%;
  color: black;
}

.galery_carte_populaires {
  display: grid;
  row-gap: 27px;
  margin-top: 10px;
}

.background_carte_populaire {
  background-color: white;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #d9d9d9;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 272px;
  cursor: pointer;
}

.background_carte_populaire a {
  color: black;
}

.figure_populaires {
  display: flex;
  flex-direction: row;
}

.fc_populaires {
  margin-top: 5px;
  padding-left: 8px;
}

.stars_populaires {
  padding-top: 30px;
}

.divimg_hotel_le_soleilduMatin {
  background-image: url(img/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 40%;
  border-radius: 15px 0px 0px 15px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_Au_coeur_deLeau {
  background-image: url(img/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 40%;
  border-radius: 15px 0px 0px 15px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.divimg_hotel_tout_bleuEtblanc {
  background-image: url(img/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 40%;
  border-radius: 15px 0px 0px 15px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.background_carte_populaire:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.flex_txt_populaire {
  display: flex;
  flex-direction: column;
}

/* ACTIVITÉ A MARSEILLE */

.activites {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  height: 520px;
  padding: 0 30px;
}

.activites h2 {
  font-size: 1.5em;
  font-weight: 700;
  font-weight: bold;
}

.activites_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
}

.hover:hover {
  transform: scale(1.02);
  transition-duration: 0.2s;
}

.vieux_port_container {
  width: 22%;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px #d9d9d9;
}

.vieux_port_figure {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.vieux_port_img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.fort_de_pomegues_container {
  width: 100%;
  height: 240px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px #d9d9d9;
}

.fort_de_pomegues_figure {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.fort_de_pomegues_img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.iles_du_frioul_container {
  width: 100%;
  height: 170px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px #d9d9d9;
}

.iles_du_frioul_figure {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.iles_du_frioul_img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.container_fp_et_idf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
}

.parc_national_des_calanques_container {
  width: 22%;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px #d9d9d9;
}

.parc_national_des_calanques_figure {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.parc_national_des_calanques_img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.txt_line_height {
  line-height: 17px;
}

.notre_dame_de_la_garde_container {
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px #d9d9d9;
}

.notre_dame_de_la_garde_figure {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.notre_dame_de_la_garde_img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.parc_longchamp_container {
  width: 100%;
  height: 215px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px #d9d9d9;
}

.parc_longchamp_figure {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.parc_longchamp_img {
  width: 100%;
  height: 155px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.container_nd_pl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
}

.activites h3 {
  color: black;
  font-size: 1em;
  font-weight: bold;
  margin: 15px 0 16px 18px;
}

.txt_vp {
  padding-top: 10px;
}

.txt_idf {
  padding-top: 10px;
}

.txt_line_height {
  padding-top: 7px;
}

/* FOOTER */

.footer {
  margin-top: 50px;
  background-color: #f2f2f2;
}

.fc_gras {
  font-weight: bold;
}

footer a {
  color: black;
}

.container_colonnes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding: 0 30px 20px 30px;
  margin: auto;
  box-sizing: border-box;
}

.colonnes_footer {
  display: flex;
  flex-direction: column;
  width: 1000%;
  padding: 0 30px;
  margin-bottom: -10px;
}

.colonnes_footer h3 {
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  margin-top: 38px;
  margin-bottom: 0px;
}

.txt_footer {
  display: flex;
  flex-direction: column;
}

.txt_footer a {
  color: black;
  font-size: 1em;
  margin-bottom: 13px;
}

.txt_footer a:hover {
  text-decoration: underline black;
}

footer ul {
  list-style-type: none;
  padding-left: 0px;
}

footer li {
  padding-bottom: 20px;
}

/* HEADER REPONSIVE */

@media screen and (max-width: 650px) {
  header {
    display: flex;
    align-items: flex-start;
    height: 150px;
    padding-top: 35px;
    padding-left: 0px;
    min-width: 375px;
  }

  .navcontent {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 100%;
  }

  nav ul {
    padding-left: 0px;
  }

  nav {
    width: 100%;
    margin-top: 10px;
  }

  nav li {
    text-align: center;
    border-bottom: solid 3px #f2f2f2;
    padding-bottom: 20px;
    width: 100%;
  }

  nav li:hover {
    color: transparent;
  }

  .top_hebergement_desktop {
    color: transparent;
  }

  .nav_bottom:hover {
    border-bottom: solid 3px #0065fc;
    padding-bottom: 20px;
    cursor: pointer;
  }
  #logo_reservia {
    position: absolute;
    padding: 0 0 0px 30px;
  }
  nav a:hover {
    border: none;
  }

  .bottom_hebergement_resp {
    border-bottom: solid 3px #0065fc;
    padding-bottom: 20px;
  }
}

/* INPUT RESPONSIVE */

@media screen and (max-width: 510px) {
  .bouton {
    display: none;
  }
  .logo_recherche {
    display: inline;
    position: relative;
    cursor: pointer;
    color: white;
  }

  .background_btn2_recherch {
    position: relative;
    background-color: #0065fc;
    height: 53px;
    border: none;
  }
  button {
    border: none;
    border-radius: 15px;
    height: 55px;
    width: 55px;
    margin-left: -11px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
  }
}

@media screen and (min-width: 510px) {
  button {
    display: none;
  }
  .background_btn2_recherch {
    display: none;
  }
}

/* FILTRES RESPONSIVE */

@media screen and (max-width: 1221px) {
  .div_h3_et_filtres {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -10px;
  }

  .div_filtre_filtres {
    display: flex;
    flex-wrap: wrap;
    min-width: 375px;
    row-gap: 12px;
  }
}

@media screen and (max-width: 1010px) {
  .logo_info {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border: solid 1.5px #d9d9d9;
    border-radius: 50px;
    margin-right: 10px;

    position: relative;
    bottom: 1px;
  }

  .i_info {
    font-size: 1em;
  }
}

@media screen and (max-width: 491px) {
  .logo_info {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 0.7em;
    bottom: 9px;
  }

  .i_info {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 450px) {
  .logo_info {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 0.7em;
    bottom: 9px;
  }
}

@media screen and (max-width: 405px) {
  .logo_info {
    width: 32px;
    height: 25px;
  }
}

@media screen and (max-width: 415px) {
  .div_h3_et_filtres {
    display: flex;
  }

  .div_filtre_filtres {
    display: flex;
    justify-content: flex-start;
  }

  .margfiltre {
    margin-top: 25px;
  }

  .margfiltreh3 {
    margin-right: 20px;
  }

  .filtre_texticon {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
  }

  .filtre_familial {
    margin-left: -10px;
  }

  .marg_filtre_txt_amilial {
    margin-left: -10px;
  }

  .marg_filtre_txt {
    padding-left: 20px;
    padding-right: 20px;
  }

  .filtreicon {
    border-radius: 25px;
    width: 52px;
    height: 52px;
    min-width: 52px;
    min-height: 52px;
    color: #0065fc;
    background-color: #deebff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* HEBERGEMENTS / LES PLUS POPULAIRE / RESPONSIVE */

@media screen and (max-width: 1221px) {
  .galery_carte_marseille {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hebergement_marseille_container {
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
  }

  .les_plus_populaires_contenair {
    width: 359px;
    height: 893px;
  }
}

@media screen and (max-width: 1010px) {
  .hebergements {
    flex-direction: column-reverse;
  }

  .les_plus_populaires_contenair {
    width: auto;
    height: auto;
    margin: 0px;
  }

  .hebergement_marseille_container {
    margin-top: 50px;
    height: 860px;
    width: 100%;
    min-width: 375px;
    background-color: white;
  }

  .galery_carte_marseille {
    width: 100%;
  }

  .marg_titre_galery_afPlus {
    margin-top: -50px;
  }

  .activites {
    margin-top: -50px;
  }
}

@media screen and (max-width: 585px) {
  .hebergements {
    flex-direction: column-reverse;
  }

  .les_plus_populaires_contenair {
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin-left: -30px;
    font-size: 0.9em;
  }

  .hebergement_marseille_container {
    margin-top: 50px;
    height: auto;
    width: auto;
    border-radius: 0px;
    margin-left: -41px;
    width: 116%;
  }

  .galery_carte_marseille {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 493px) {
  .les_plus_populaires_contenair {
    margin-left: -30px;
    width: 101.6%;
  }
  .hebergement_marseille_container {
    margin-left: -39px;
    width: 121%;
  }

  .galery_carte_marseille {
    width: 100%;
  }
}

@media screen and (max-width: 405px) {
  .galery_carte_marseille {
    width: 104%;
  }
}

/* ACTIVITÉ RESPONSIVE */

@media all and (max-width: 1000px) {
  .figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media all and (max-width: 865px) {
  .activites {
    font-size: 0.9em;
  }
}

@media all and (max-width: 799px) {
  .activites h3 {
    margin-left: 3px;
  }
}

@media all and (max-width: 730px) {
  .activites {
    height: 1500px;
    margin-top: -30px;
    margin-left: -30px;
  }
  .activites h2 {
    margin-left: 11%;
    margin-bottom: 33px;
  }
  .activites_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
  }
  .vieux_port_container {
    height: 203px;
    width: 87%;
    margin-left: 29px;
  }
  .vieux_port_img {
    height: 143px;
  }
  .parc_national_des_calanques_container {
    height: 203px;
    width: 87%;
    margin-left: 29px;
  }
  .parc_national_des_calanques_img {
    height: 143px;
  }
  .container_fp_et_idf {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .fort_de_pomegues_container {
    height: 203px;
    width: 87%;
    margin-left: 29px;
    margin-bottom: 24px;
  }
  .fort_de_pomegues_img {
    height: 143px;
  }
  .iles_du_frioul_container {
    height: 203px;
    width: 87%;
    margin-left: 29px;
  }
  .iles_du_frioul_img {
    height: 143px;
  }
  .container_nd_pl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87%;
    margin-left: 29px;
  }
  .notre_dame_de_la_garde_container {
    height: 203px;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 24px;
  }
  .notre_dame_de_la_garde_img {
    height: 143px;
  }
  .parc_longchamp_container {
    height: 203px;
    width: 100%;
    margin-left: 0px;
  }
  .parc_longchamp_img {
    height: 143px;
  }
}

/* FOOTER RESPONSIVE */

@media screen and (max-width: 600px) {
  footer a {
    color: black;
  }

  .container_colonnes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 0 35px 20px 30px;
    box-sizing: border-box;
    margin-left: -17px;
  }

  .colonnes_footer {
    flex-direction: column;
  }

  .footer {
    margin-top: -25px;
  }
}
